*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0) !important;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.center{
   height: 100%;
  background-color: #B6B6B6;
  width: 100%;
}
.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline:50px;
}
.navbar h3{
  cursor: pointer;
}

.navleft{
  display: flex;
  gap: 35px;
  align-items: center;
}
.navleft h3{
  font-size: 13px;
  font-weight: 400;
}
.navleft img{
  height: 100px;
  width:100px;
  
}
.navright h3{
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid black;
}
.section{
  height:90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.heroText{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-direction: column;
  width: 35%;
  gap: 50px;
  margin: 40px 0px 0px 120px;
}

.heroText .top{
  display: flex;
  gap: 20px;
}
.heroText .top .t1{
  display: flex;
   flex-direction: column;
   justify-content: center;
}
.heroText .top .t2{
  display: flex;
   flex-direction: column;
   justify-content: center;
}
.heroText .top .t1 span{
  font-size: 50px;
  font-weight: 100;
}
.heroText .top .t2 span{
  font-size: 50px;
  font-weight: 100;
}

.heroText .top .t1 h4{
  font-size: 14px;
  font-weight: 400;
}
.heroText .top .t2 h4{
  font-size: 14px;
  font-weight: 400;
}

.heroText .bottom h5{
  font-size: 150px;
  font-weight: 300;
  
}
.heroText .bottom p{
  margin-top: -20px;
  font-size: 14px;
}
.heroText .anotherbottom{
  display: flex;
  align-items: center;
}
.heroText .anotherbottom h3{
  font-weight:400;
  font-size: 14px;
}
.heroText .anotherbottom i{
  font-weight: 100;
  font-size: 15px;
}
#imageHero{
  /* width: 100%; */
  height: 80%;
  position: absolute;
  right: 10%;
  bottom: 10%;
}